{
  "presets": ["react-native"],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "components": "kegbot/src/components",
        "containers": "kegbot/src/containers",
        "reducers": "kegbot/src/reducers",
        "images": "kegbot/src/images",
        "actions": "kegbot/src/actions",
        "action-types": "kegbot/src/action-types",
        "static": "kegbot/src/static",
        "wiring": "kegbot/src/wiring"
      }
    }]
  ]
}
